<header>

    <div class="header_img flex_column_center">
        <img src="img/profile.jpg" alt="Profile">
    </div>

    <div class="header_text flex_column_center">
        <h1 class="header_h_item">Kiarash Sedghi</h1>
        <h2 class="header_h_item">Post-quantum and Threshold Cryptography</h2>
    </div>

    <div class="header_svg_list flex_row_center">

        <!-- Icon 1 -->
        <div class="header_svg_item">
            <a href="#link" target="_blank">
                <svg viewBox="0 0 24 24">
                    <path d="M18,10.561a.494..."></path>
                    <path d="M16.646,13.632a..."></path>
                    <path d="M15.312,16.583a..."></path>
                    <path d="M12,23A11,11,0,1,1..."></path>
                </svg>
            </a>
        </div>

        <!-- Icon 2 -->
        <div class="header_svg_item">
            <a href="#link" target="_blank">
                <svg viewBox="0 0 24 24">
                    <path d="m2.538 3 7.425..."></path>
                </svg>
            </a>
        </div>

        <!-- Icon 3 -->
        <div class="header_svg_item">
            <a href="#link" target="_blank">
                <svg viewBox="0 0 24 24">
                    <path d="M21.938,7.71a..."></path>
                    <path d="M17.581,5.467a..."></path>
                    <path d="M12,7.073A4.927..."></path>
                </svg>
            </a>
        </div>

        <!-- Icon 4 -->
        <div class="header_svg_item">
            <a href="#link" target="_blank">
                <svg viewBox="0 0 24 24">
                    <path d="M7.285,23.5a..."></path>
                    <path d="M10.822,17.607a..."></path>
                    <path d="M15.857,10.386a..."></path>
                    <path d="M12.357,10.386a..."></path>
                </svg>
            </a>
        </div>

    </div>

    <nav>
        <ul class="header_nav_menu_list flex_no_wrap_row_center">
            <li data-target="#main_section_container_1" class="header_nav_menu_item">Education</li>
            <li data-target="#main_section_container_2" class="header_nav_menu_item">Menu 2</li>
            <li data-target="#main_section_container_3" class="header_nav_menu_item">Menu 3</li>
        </ul>
    </nav>

</header>
