<div id="educationModal" class="modal">
    <div class="modal_content">
        <span class="modal_close">&times;</span>

        <h2 style="margin-bottom:20px;">Education Background</h2>

        <div style="display:flex;align-items:center;gap:15px;margin-bottom:15px;">
            <img src="img/usflag.png" style="height:30px;">
            <img src="img/usf_logo.jpg" style="height:35px;">
            <div>
                <h3><strong>Ph.D. in Computer Science</strong></h3>
                <p>University of South Florida (2021–Present)</p>
                <p style="font-size:0.9rem;color:#555;">Research: Post-Quantum Cryptography, Threshold Cryptography</p>
                <p><strong>GPA:</strong> 4.0 / 4.0</p>
            </div>
        </div>

        <hr style="margin:20px 0;opacity:0.4;">

        <div style="display:flex;align-items:center;gap:15px;">
            <img src="img/iranflag.png" style="height:30px;">
            <img src="img/sbu_logo.png" style="height:35px;">
            <div>
                <h3><strong>B.Sc. in Computer Engineering</strong></h3>
                <p>Shahid Beheshti University (2016–2020)</p>
                <p style="font-size:0.9rem;color:#555;">Focus: Cryptography, Algorithms, Systems</p>
                <p><strong>GPA:</strong> 3.7 / 4.0</p>
            </div>
        </div>

    </div>
</div>
