<main>

    <section id="main_section_container_1" class="flex_column_center">

        <div class="main_small_button_list">
            <a id="openEducationModal" class="main_small_a_item" href="javascript:void(0);">
                <button class="main_small_button_item">Research Areas</button>
            </a>

            <a class="main_small_a_item" href="data/publications.html">
                <button class="main_small_button_item">Publications</button>
            </a>
        </div>

        <div class="main_small_button_list">
            <a class="main_small_a_item" href="https://github.com/ardacarofficial/links-website/discussions" target="_blank">
                <button class="main_small_button_item">Projects</button>
            </a>

            <a class="main_small_a_item" href="https://github.com/ardacarofficial/links-website/pulls" target="_blank">
                <button class="main_small_button_item">Collaborations</button>
            </a>
        </div>

    </section>

    <section id="main_section_container_2" class="flex_column_center">
        <div class="main_text_item">
            <p>Menu 2 text Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </section>

    <section id="main_section_container_3" class="flex_column_center">
        <div class="main_text_item">
            <p>Menu 3 text Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </section>

</main>
